.musica-body{
  background: #7a99ff;
  border: solid 1px #0b006b;
}


.nav-contenedor{
  margin-top: 0px;
  margin-bottom: 5px;
}

.btn{
  width: 150px;
  color: #0051ff;
  margin-left: 35px;
  background: #7a99ff;
}

.btn1{
  padding: 2%;
  background: #7a99ff;
  color: #0051ff
}

.contenido{
  background: #d470ff;
  border: solid 1px #2a0a33;
  color: #e60000;
  padding: 2px;
  border-radius: 5px;


}

.img-1{
  margin-top: 20px;
  width: 50%;
  height: auto;
  min-height: 380px;
}

@media (max-width: 420px) {
  .img-1 {
    width: 90%;
    height: auto;
    min-height: 150px;
   }
   .buscador{
     display: none;
   }

    .redes{
    margin-left: 25%;
    }

    .pers{
      width: 5px;
      height: auto;
    }
  }


.cont2{
  min-height: 480px;

}

.img-contenido{
  border: solid 1px #e62600;

}

.form-control{
  padding: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.pers{
  width: 8%;
  height: auto;
  background: #d470ff;
  padding: 5px;
  margin-left: 15px;
  margin-top: 5PX;
}

.buscador{
  background: #8f9eea;
  border: solid 1px #e62600;
  border-radius: 5px;
}

.list-group-item{
  text-align: center;
  color: #29258d
}

.form-control{
  margin-top: 15px;
  text-align: center;
  border: solid 1px #e62600;
}

.form-con{
  margin-top: 15px;
  text-align: center;
}


.redes{
  margin-top: 5%;
  margin-bottom: 5%;
  padding-right: 2%;
}


.logo-img {
  width: 30%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  border: solid 1px #0b006b;
  border-radius: 7px;


}

nav.navbar {
  background: #0051ff;
  min-height: 10px;
  border: none;
  border: solid 1px #0b006b;

}

.img-social{
  border: solid 1px #0b006b;
}
