.musica-body{
  background: #7a99ff;
  border: solid 1px #0b006b;
}


.nav-contenedor{
  margin-top: 0px;
  margin-bottom: 5px;
}

.btn{
  width: 150px;
  color: #0051ff;
  margin-left: 35px;
  background: #7a99ff;
}



.contenido{
  background: #d470ff;
  border: solid 1px #2a0a33;
  color: #e60000;
  padding: 2px;

}

.img-1{
  margin-top: 20px;
  width: 50%;
  height: auto;
  min-height: 380px;
}

@media (max-width: 420px) {
  .img-1 {
    width: 90%;
    height: auto;
    min-height: 150px;
   }
   .buscador{
     min-height: 0px;
   }
}

.cont2{
  min-height: 480px;

}

.img-contenido{
  border: solid 1px #e62600;

}

.form-control{
  padding: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.pers{
  width: 12%;
  height: auto;
  background: #c124ff;
}

.buscador{
  background: #8f9eea;
  border: solid 1px #e62600;
}

.list-group-item{
  text-align: center;
  color: #29258d
}

.form-control{
  margin-top: 15px;
  text-align: center;
  border: solid 1px #e62600;
}

.form-con{
  margin-top: 15px;
  text-align: center;
}

.jumbotron{
  min-height: 1500px;
  border: solid 1px #0b006b;
}

.redes{
  margin-top: 8%;
  margin-bottom: 2%;
}


.logo-img {
  width: 20%;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid 1px #0b006b;

}

nav.navbar {
  background: #0051ff;
  min-height: 10px;
  border: none;
  border: solid 1px #0b006b;

}

.redes{
  padding-right: 2;
  margin-bottom: 2%;
}
